<!-- Barra de Navegação -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <!-- Nome do Projeto ou Logotipo -->
    <a class="navbar-brand" href="#">ProdutosWeb</a>


    <!-- Botão de colapso para dispositivos móveis -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Itens da barra de navegação -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">


        <!-- Link "Acessar Sistema" -->
        <li class="nav-item" *ngIf="!usuarioAutenticado">
          <a class="nav-link" routerLink="/app/login"> Acessar Sistema </a>
        </li>


        <!-- Link "Criar conta de usuário" -->
        <li class="nav-item" *ngIf="!usuarioAutenticado">
          <a class="nav-link" routerLink="/app/register">
            Criar conta de usuário
          </a>
        </li>


        <!-- Link "Cadastrar produtos" -->
        <li class="nav-item" *ngIf="usuarioAutenticado">
          <a class="nav-link" routerLink="/app/produto-cadastro">
            Cadastrar Produtos
          </a>
        </li>


        <!-- Link "Consultar produtos" -->
        <li class="nav-item" *ngIf="usuarioAutenticado">
          <a class="nav-link" routerLink="/app/produto-consulta">
            Consultar Produtos
          </a>
        </li>


        <!-- Exibir os dados do usuário autenticado -->
        <li class="nav-item" *ngIf="usuarioAutenticado">
          <div class="nav-link text-white">
            <strong>{{nomeUsuario}} - {{emailUsuario}}</strong>
          </div>
        </li>


        <!-- Logout do usuário -->
        <li class="nav-item" *ngIf="usuarioAutenticado">
          <button class="nav-link" (click)="logout()">
            Sair do Sistema
          </button>
        </li>


      </ul>
    </div>
  </div>
</nav>


